/** __Typography */

$roboto-regular: "Roboto", serif;
$playfair-display: "Playfair Display", serif;

/** Style */
$italic: italic;

/** Weigh */
$font-weight-900: 900;
$font-weight-400: 400;

/** Font Sizes */

$font-size-xxl: 70px;
$font-size-xl: 30px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 12px;

/** Implementacion */
body {
    font-family: $roboto-regular;
    font-weight: 300;
}
