/** __Typography */

$roboto-regular: "Roboto regular", serif;
$roboto-light: "Roboto light", serif;

/** Font Sizes */

$font-size-xxl: 70px;
$font-size-xl: 30px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 12px;
