/** __Header */
.header-barbershop {
    background-image: url("../images/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vw;
    display: grid;
    justify-content: center;
    align-items: center;

    &__tittle-sm {
        font-family: $playfair-display;
        font-style: $italic;
        font-size: $font-size-lg;
        font-weight: $font-weight-900;
        padding: 0 5rem 0 5rem;
    }

    &__tittle-xl {
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-size: $font-size-xxl;
        font-weight: $font-weight-900;
        padding: 0 20rem 0 20rem;
    }
}
